<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>ParKing</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	 crossorigin="anonymous">
	<link rel="icon" href="/static/images/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
	<div class="container mt-3">
		<div class="row ">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
				<div class="card border-0 shadow rounded ">
					<h5 class="card-title  text-center mb-2 title rounded-3">SIGN UP</h5>
					<div class="card-body p-4 rounded-3">

						<form action="/signupcheck" method="POST">
							<div class="rounded form-floating mb-3 ml-3 mr-3">
								<input type="name" class="form-control form-rounded" placeholder="John" name='Fname' required>
                    <label for="floatingInput" >First Name</label>
                  </div>
                  <div class="form-floating mb-3 ml-3 mr-3">
                    <input type="name" name = 'Lname' class="form-control form-rounded"  placeholder="Doe" required>
                    <label for="floatingPassword">Last Name</label>
                  </div>
                  <div class="rounded form-floating mb-3 ml-3 mr-3">
                    <input type="email" class="form-control form-rounded" placeholder="name@example.com" name='email' required>
                    <label for="floatingInput" >Email address</label>
                  </div>
                  <div class="rounded form-floating mb-3 ml-3 mr-3">
                    <input type="text" class="form-control form-rounded" placeholder="123456789" name='ph' required>
                    <label for="floatingInput" >Ph no</label>
                  </div>
                  <div class="rounded form-floating mb-3 ml-3 mr-3">
                    <input type="text" class="form-control form-rounded" placeholder="Abcd@123" name='pwd' required>
                    <label for="floatingInput" >Password</label>
                  </div>
                  <p class="ml-3 mr-3" style="color:rgb(255, 0, 55); margin-top:20px;">&nbsp;{{error}}</p>
                  <hr class="my-2 ml-3 mr-3">
                  <div class="d-grid">
                    <button class="btn  text-white btn-login text-uppercase fw-bold ml-3 mr-3 mb-4" style="background: #ffc107;" type="submit" value=  'verify'>submit</button>
                  </div>
                  <p class="ml-4">Already have an account? <a href="/" style="text-decoration:none">Sign-in</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</html>